---
const status = "OpenToWork";
---

<section class="lg:-mt-36 lg:mb-80 mb-[40rem]">

    <div class="flex items-center justify-center">
        <img class="rounded-full max-w-80" src="/emg_IMG.webp" alt="Foto">
        <a class="bg-[#26bb80] text-black p-1 rounded-xl absolute mt-52 ml-56 hover:bg-white" href="https://www.linkedin.com/in/jared-acosta-cano-7606a7b9/overlay/background-image/" target="_blank"><b class="font-bold">#</b>{status}</a>
    </div>

    <div>
        <h1 class="text-4xl mt-4 xl:-mt-8 text-center lg:text-start">👋¡HEY!</h1>
        <p class="text-3xl">Soy <i class="efectico">Jared.</i></p>
        <p class="text-xl">I'm a developer who likes the optimization, I always want to find the better options. 
            <br>
            I'm an apassionated to the data analysis and the artificial intelligence.
        </p>
    </div>

</section>
